*{
	box-sizing: border-box;
}

html, body {
	width: 784px;
}

header {
	width: 784px;
	height: 200px;
	background-color: #dfd9c3;
	padding: 30px;
}

.header h2 {
	float: left;margin-right: 10px;
}

section {
	background-color: #ffff01;
	content: "";
	display: table;
	clear: both;
}

nav {
	width: 200px;
	background-color: #ffff01;
	float: left;
	padding: 20px;
}

article {
	width: 584px;
	background-color: #d99896;
	float: left;
	padding: 20px;
}

footer {
	background-color: #b1a1c6;
	padding: 10;
}